canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#score {
    width: 150px;
    height: 50px;
    display: block;
    position: absolute;
    text-align:right;
    margin-top: -400px;
    margin-left: calc(50% + 150px);
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}