
html {
    min-width: 700px;
    position: relative;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid white;
}

#test {
    background-color: black;
}

#playbutton{
    position: absolute;
    width: 150px;
    height: 70px;
    display: block;
    
    margin-left: 5%;
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    margin-top: -550px;
}
/* perro*/
#butInstall {
    position: absolute;
    width: 70px;
    height: 30px;
    display: block;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    margin-top: -585px;
    margin-left: 5%;
    
}

#botones{
    text-align: center;
justify-content:center;}

#butIzquierda, #butDerecha, #butAbajo, #butRotar {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }


#score {
    width: 200px;
    height: 100px;
    display: block;
    position: absolute;
    object-fit: contain;
    margin-top: -450px;
    margin-left: 5%;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: blackwhite;
    cursor: pointer;
}

#highscore {
    width: 320px;
    height: 50px;
    display: block;
    position: absolute;
    text-align:right;
    margin-top: -550px;
    margin-left: calc(50% + 145px);
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
}