
html {
    min-width: 700px;
    position: relative;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid white;
}

#test {
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    z-index: 200;
    color: white;
    text-shadow: 0 0 3px white;
    text-align: center;
    line-height: 40vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    z-index: -10;
    color: white;
    text-shadow: 0 0 3px white;
    text-align: center;
    line-height: 100vh;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

#fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

#izquierdaUI{
    margin-left: 5%;
    display: flex;
}

#playbutton{
    background-color: #183850;
    color: white;
    font-family: arial;
    font-weight: bold;
    text-align: left;
    letter-spacing: 5px;
    line-height: 1rem;
    text-shadow: 0 0 3px white;
    position: absolute;
    width: 150px;
    height: 70px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 50px;
    cursor: pointer;
    margin-top: -550px;
    border: none;
    display: inline-block;
}

#butInstall {
    background-color: #183850;
    color: white;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1rem;
    text-shadow: 0 0 3px white;
    position: absolute;
    width: 100px;
    height: 30px;
    display: block;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-top: -585px;
    
}

#score {
    color: white;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 3px;
    
    text-shadow: 0 0 3px white;
    width: 150px;
    height: 100px;
    display: block;
    position: absolute;
    object-fit: contain;
    margin-top: -450px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

#multiplayer{
    color: white;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 0 3px white;
    width: 150px;
    height: 100px;
    display: block;
    position: absolute;
    object-fit: contain;
    margin-top: -350px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

#butResetHighscore{
    background-color: #183850;
    color: white;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1rem;
    text-shadow: 0 0 3px white;
    width: 170px;
    height: 50px;
    display: block;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

#botones{
    text-align: center;
justify-content:center;}

#butIzquierda, #butDerecha, #butAbajo, #butRotar {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }




#derechaUI {
    width: 340px;
    height: 50px;
    display: block;
    position: absolute;
    text-align:right;
    margin-left: calc(50% + 145px);
    margin-top: -585px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1rem;
    text-shadow: 0 0 3px white;

}

#highscore-list{
    width: 300px;
    line-height: normal;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5%;
    margin-left: 10%

}
